* {
  box-sizing: border-box;
}

body {
  background: #070415;
  padding: 0;
  text-align: center;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
}

h2 {
  font-family: "Poiret One", cursive;
  font-weight: 600;
  font-size: 2em;
  color: white;
  margin: 0px;
}

.options, .desc {
  display: inline-block;
  height: auto;
  width: 94%;
  line-height: 0;
  text-align: center;
  margin: 1em 3vh;
  border-radius: 0.5em;
  padding: 1em 1.5em;
  background: rgba(255, 255, 255, 0.1);
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 1.25em;
}

.disclaimer {
  display: inline-block;
  padding: 0.5em;
}

.desc {
  line-height: 1.25;
  text-align: left;
  padding: 2.5em;
}
.desc ol ol {
  list-style-type: lower-alpha;
}

h3 {
  text-align: left;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}


.desc code {
  background-color:  rgba(255, 255, 255, 0.2);
  border-radius: 0.25em;
  padding: 0 0.25em;
  
}
a:visited {
  color: lightgrey;
}
a:hover, a:active {
  color: white;
}

.options > * + * {
  margin-top: 0.5em;
}

.options + .options, .desc + .options {
  margin-top: 0px; /* just treat as gutter */
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input[type="file"] + label {
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  background-color: white;
  font-size: 1.25rem;
  font-weight: 700;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  border-radius: 4px;
  position: relative;
  line-height: 1.15;
  vertical-align: middle;
  z-index: 10;
  display: inline-block;
  transition: all 0.5s ease;
  cursor: pointer;
  /* "hand" cursor */
  opacity: 1;
  transition: all 1s ease;
}

input[type="file"]:focus + label,
input[type="file"] + label:hover {
  background-color: #070415;
  color: white;
  opacity: 1;
}


.dropZone {
  width: 100%;
  background-color: rgba(255,255,255,0.2);
  border: 3px dashed #ccc;
  border-radius: 8px;
  text-align: center;
  position: relative;
  height: 40vh;
  line-height: 40vh;
}

input[type="file"] + .chosen {
  opacity: 0.5;
}

button {
  font-family: "Raleway", sans-serif;
  background-color: transparent;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  padding: 1em;
  border: 2px solid white;
  border-radius: 1em;
  transition: all 0.55s ease-in-out;
}

button:hover:not(:disabled) {
  background-color: white;
  color: black;
}

button:disabled {
  border-color: #717171;
  color: #717171;
}

/** Result Formatting **/

.desc.result  {
  display: none;
}
.desc > .desc, .options > .desc {
  padding: 0.5em;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-top: 1em;
  min-height: 2em;
}

.desc.result.error_resp, .desc.result.success_resp, .desc.result.info_resp {
  font-size: 1.25em;
  font-weight: bold;
  display: block;
}

.success_resp {
  color: #00c853;
}

.error_resp {
  color: rgb(243, 108, 108);
}
/* Palette Info */
.palettes {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.export {
  position: sticky;
  bottom: 1rem;
  right: 1rem;
  align-self: flex-end;
  margin: 1rem 0;
  background-color: #070415;
}

.export * {
 vertical-align: bottom;
}

.export:hover:not(:disabled) {
  background-color: white;
  color: #070415;
}

.palette_info {
  color: white;
  display: inline-flex;
  gap: 1em;
  flex-direction: row;
  height: 9vw;
  min-height: max-content;
  width: 94%;
  margin-top: 1rem;

  overflow-x: auto;
  overscroll-behavior: none;
  /* firefox scroll styling */
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.2);
  scrollbar-width: thin;
}

/* webkit scroll styling */
.palette_info::-webkit-scrollbar-button {
  display: none;
}
.palette_info::-webkit-scrollbar {
  height: 0.5rem;
  /* width: 0.25rem; */
  background-color: rgba(255, 255, 255, 0.2);
}
.palette_info::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}

.palette_info .obj_info {
  align-self: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  height: 100%;

  /* Sticky horizontal scroll */
  position: sticky;
  left: 0;
  z-index: 1;
  background: #201e2d;
  
  /* Center text */
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.obj_info * {
  display: inline-block;
  vertical-align: middle;
}
.obj_error {
  color: #d9a649; /* gold-ish colour so not too mean looking */
}

.palette_info .obj_info, .palette_info .palette {
  flex: 0 0 16vw;
}
.palette {
  position: relative;
  overflow: hidden;
}
.palette .resizable_input, .palette .visibility {
  position: absolute;
  height: 2rem;
  line-height: 2rem;
  min-width: 2rem;
  max-width: calc(16vw - 2rem);
  background-color: rgba(0,0,0,0.7);
  border: none;
  padding: 0 0.5rem;
}
.palette .resizable_input {
  left: 0px;
  max-width: calc(100% - 1.5rem - 1em - 0.5rem);
}
.resizable_input {
  position: relative;
}

.resizable_input::after {
  content: attr(data-value) " ";
  visibility: hidden;
  white-space: pre-wrap;
}

.resizable_input input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  background: none;
  color: white;
  border: none;
  font: inherit;
  text-overflow:ellipsis;
  min-width: 1rem;
  position: absolute;
  width: 100%;
  left: 0;
}
/* for removing scroll on webkit */
.resizable_input input::-webkit-outer-spin-button,
.resizable_input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.palettes .resizable_input::after {
  max-width: calc(16vw - 3.5rem - 2rem);
}
.palette .resizable_input::after {
  max-width: max(7vw, 3rem);
}

.palette .costume_idx {

  outline: none;
  text-align: center;
}


.palette .visibility {
  right: 0px;
}
.palette img {
  max-width: 100%;
}
.hidden {
  visibility: collapse;
}
